.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", tickets_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_ticket_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Tickets
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.ticket.folio", :default => t("activerecord.labels.folio", :default => "Folio"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @tickets.each do |ticket|
          %tr{:class => cycle("odd", "even")}
            %td
              = ticket.id
            %td
              = link_to ticket.folio, ticket_path(ticket)
            %td
              = ticket.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", ticket_path(ticket)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_ticket_path(ticket)}
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", ticket_path(ticket), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
          = will_paginate @tickets
- content_for :sidebar, render(:partial => 'sidebar')
